################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/dbg/
/obj/
/packages/
/.vs/
/BenchmarkDotNet.Artifacts/
**/bin/
**/obj/
/tests/**/TestResults
/tests/**/.vs/
/tests/**/coverage/
