################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/dbg/
/obj/
/packages/
/.vs/
/tests/**/TestResults
