-- =========================================
-- DATABASE
-- =========================================

CREATE DATABASE hydrix_test;

-- Conectar no banco (executar após criar)
-- \c hydrix_test;

-- =========================================
-- EXTENSIONS (opcional para UUID automático)
-- =========================================

CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- =========================================
-- TABLE: customer
-- =========================================

CREATE TABLE customer (
    id UUID NOT NULL,
    name VARCHAR2(50) NOT NULL,
    birthdate TIMESTAMP NULL,
    level INT NOT NULL,
    salary NUMERIC(18, 2) NULL,
    is_active BOOLEAN NULL,
CONSTRAINT pk_customer PRIMARY KEY (id)
);

-- =========================================
-- TABLE: product
-- =========================================

CREATE TABLE product (
    id UUID NOT NULL,
    customer_id UUID NULL,
    name VARCHAR2(50) NOT NULL,
    ean VARCHAR2(20) NOT NULL,
    quantity NUMERIC(18, 6) NOT NULL,
    price NUMERIC(18, 2) NOT NULL,
    type VARCHAR2(1) NOT NULL,
    token VARCHAR2(10) NULL,
CONSTRAINT pk_product PRIMARY KEY (id),
CONSTRAINT fk_product_customer 
    FOREIGN KEY (customer_id) 
    REFERENCES customer(id) 
    ON DELETE CASCADE
);

-- =========================================
-- FUNCTION: add_customer
-- =========================================

CREATE OR REPLACE FUNCTION public.add_customer(
    p_id UUID,
    p_name VARCHAR,
    p_birthdate TIMESTAMP,
    p_level INT,
    p_salary NUMERIC,
    p_is_active BOOLEAN
)
RETURNS VOID AS $$
BEGIN
    INSERT INTO customer (
        id,
        name,
        birthdate,
        level,
        salary,
        is_active
    ) VALUES (
        p_id,
        p_name,
        p_birthdate,
        p_level,
        p_salary,
        p_is_active
    );
END;
$$ LANGUAGE plpgsql;

-- =========================================
-- FUNCTION: del_customers
-- =========================================

CREATE OR REPLACE FUNCTION public.del_customers()
RETURNS VOID AS $$
BEGIN
    DELETE FROM customer
    WHERE level > 0;
END;
$$ LANGUAGE plpgsql;

-- =========================================
-- FUNCTION: get_customers
-- =========================================

CREATE OR REPLACE FUNCTION public.get_customers()
RETURNS TABLE (
    id UUID,
    name VARCHAR,
    birthdate TIMESTAMP,
    level INT,
    salary NUMERIC,
    is_active BOOLEAN
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        id,
        name,
        birthdate,
        level,
        salary,
        is_active
    FROM customer
    ORDER BY name ASC;
END;
$$ LANGUAGE plpgsql;

-- =========================================
-- SAMPLE USAGE
-- =========================================

-- Inserir cliente
-- SELECT add_customer(gen_random_uuid(), 'Marcelo', NOW(), 1, 5000.00, TRUE);

-- Listar clientes
-- SELECT * FROM get_customers();

-- Deletar todos
-- SELECT del_customers();