CREATE DATABASE [HydrixTest]
GO

USE [HydrixTest]
GO

/****** Object:  Table [dbo].[Customer]    Script Date: 08/02/2020 21:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Birthdate] [datetime] NULL,
	[Level] [int] NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  StoredProcedure [dbo].[AddCustomer]    Script Date: 08/02/2020 21:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCustomer]
	@p_Id        UNIQUEIDENTIFIER,
	@p_Name      VARCHAR(50)     ,
	@p_Birthdate DATETIME        ,
	@p_Level     INT             ,
	@p_Salary    DECIMAL(18,2)   ,
	@p_IsActive  BIT             
AS
	INSERT INTO [dbo].[Customer] (
		[Id]       , 
		[Name]     ,
		[Birthdate],
		[Level]    ,
		[Salary]   ,
		[IsActive]
	) VALUES (
		@p_Id       ,
		@p_Name     ,
		@p_Birthdate,
		@p_Level    ,
		@p_Salary   ,
		@p_IsActive 
	);
GO

/****** Object:  StoredProcedure [dbo].[DelCustomers]    Script Date: 08/02/2020 21:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelCustomers]
AS
DELETE FROM [HydrixTest].[dbo].[Customer]
GO

/****** Object:  StoredProcedure [dbo].[GetCustomers]    Script Date: 08/02/2020 21:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomers]
AS
SELECT [Id]
      ,[Name]
      ,[Birthdate]
      ,[Level]
      ,[Salary]
      ,[IsActive]
FROM [HydrixTest].[dbo].[Customer]
ORDER BY [Name]
GO
