name: dotnet-ci

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: dotnet-build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '3.1.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

  test:
    name: dotnet-test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '3.1.x'

      - name: Test
        run: dotnet test --no-build --configuration Release
